<div ng-controller="LoginCtrl">
    <form name="loginForm" novalidate ng-submit="loginForm()">
        <label>Email:</label><input name="email" type="email" ng-model="user.email" required>
        <div class="error-container" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
            <small class="error" ng-show="loginForm.email.$error.required">Email required</small>
            <small class="error" ng-show="loginForm.email.$error.email">Invalid email</small>
        </div>

        <label>Password:</label><input name="password" type="password" ng-model="user.password" required>
        <div class="error-container" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
            <small class="error" ng-show="loginForm.password.$error.required">Password required</small>
        </div>

        <div re-captcha name="captcha" ng-model="user.captcha"></div>

        <button ng-disabled="loginForm.$invalid" type="submit">Submit</button>
    </form>
</div>